@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=JetBrains+Mono:wght@400;500&display=swap');
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary: #FBC33C;
  --color-secondary: #1C1C1C;
  --color-white: #FFFFFF;
  --color-4: #FF5E34;
  --color-5: #914452;
  --color-6: #B78204;
  --color-7: #C6AC86;
  
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
}

body {
  @apply font-sans bg-gray-50 text-secondary;
}

.sigma-container {
  height: 450px !important;
  min-height: 450px !important;
  width: 100% !important;
  display: block !important;
}
